<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Описание проекта</title>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1 class="title">Цели проекта:</h1>
<p class="text">- Изучение библиотеки SQLAlchemy;</p>
<p class="text">- Создание базы данных с помощью SQLAlchemy;</p>
<p class="text">- Интеграция базы данных к проекту на FLASK;</p>
<p class="text">- Реализация работы с базой данных через сайт;</p>
<p class="text">- Закрепление основ работы с FLASK.</p>
<br><br>
<a class="btn" align="center" href="parsing.html">Парсинг</a>
<a class="btn" align="center" href="base.html">База данных</a>
</body>
</html>